<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启组件扫描-->
    <context:component-scan base-package="com.momo.dao"></context:component-scan>

    <!--引入外部配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--配置数据库连接池-->
    <bean id="acctDataSource" class="com.alibaba.druid.pool.DruidDataSource"  init-method="init" destroy-method="close">
        <property name="driverClassName" value="${acct.driverClass}"></property>  <!--通过${}使用外部配置文件的值-->
        <property name="url" value="${acct.url}"></property>
        <property name="username" value="${acct.username}"></property>
        <property name="password" value="${acct.password}"></property>
    </bean>
    <!-- 配置JdbcTmplate -->
    <bean id="acctJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <!-- 注入dataSource -->
        <property name="dataSource" ref="acctDataSource"></property>
    </bean>

    <!--配置数据库连接池-->
    <bean id="acctMDBDataSource" class="com.alibaba.druid.pool.DruidDataSource"  init-method="init" destroy-method="close">
        <property name="driverClassName" value="${acctMDB.driverClass}"></property>  <!--通过${}使用外部配置文件的值-->
        <property name="url" value="${acctMDB.url}"></property>
        <property name="username" value="${acctMDB.username}"></property>
        <property name="password" value="${acctMDB.password}"></property>
    </bean>
    <bean id="acctMDBJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="acctMDBDataSource"></property>
    </bean>

    <!--配置数据库连接池-->
    <bean id="custDataSource" class="com.alibaba.druid.pool.DruidDataSource"  init-method="init" destroy-method="close">
        <property name="driverClassName" value="${cust.driverClass}"></property>  <!--通过${}使用外部配置文件的值-->
        <property name="url" value="${cust.url}"></property>
        <property name="username" value="${cust.username}"></property>
        <property name="password" value="${cust.password}"></property>
    </bean>
    <bean id="custJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="custDataSource"></property>
    </bean>

    <!--配置数据库连接池-->
    <bean id="custMDBDataSource" class="com.alibaba.druid.pool.DruidDataSource"  init-method="init" destroy-method="close">
        <property name="driverClassName" value="${custMDB.driverClass}"></property>  <!--通过${}使用外部配置文件的值-->
        <property name="url" value="${custMDB.url}"></property>
        <property name="username" value="${custMDB.username}"></property>
        <property name="password" value="${custMDB.password}"></property>
    </bean>
    <bean id="custMDBJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="custMDBDataSource"></property>
    </bean>

</beans>